body{
    margin: 0;
    padding: 0;
}

table{
    border-collapse: collapse;
}
td,th{
    padding: 10px;
    border: 1px solid lightblue;
}

nav{
    height: 50px;
    background-color: lightgreen;
    line-height: 30px;
    font-size: 20px;
    /* position: relative; */
}
nav > ul > li{
    float: left;
    
}
nav li{
    list-style: none;
    padding: 10px;
}
nav li:hover{
    background-color: mediumseagreen;
}
nav a{
    text-decoration: none;
    color:maroon;
}

.dropdown{
    display: none;
    position: absolute;
    background-color: lightgreen;
    padding: 0;
    /* top:100%; */
}
nav > ul > li:hover .dropdown{
    display: block;

}